<div class="row justify-content-center mt-5">
  <div class="post col-12 col-sm-6 comment-section pt-2 rounded">
    {{#each this}}
    <section class="comment">
      <div class="text">
        <span class="user-comment">{{User.username}} said: </span> {{comment_text}}
      </div>
    </section>
    {{/each}}
  </div>
  <div class="post col-12 col-sm-6">
    <form class="new-comment">
      <div>
        <textarea name="comment-body" rows="5" class="comment-form rounded" placeholder="Add a new comment here..."></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary comment-btn">Submit Comment</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/comments.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(".comment-btn").on("click", () => {
    location.reload();
  });
</script>