<div class="comments">
    <section class="comment">
        <div class="meta">
            {{!-- {{user.username}} on {{created_at}} --}}
            <span>hi i am a comment</span>
        </div>
        <div class="text">
            {{!-- {{comment_text}} --}}
        </div>
    </section>
</div>


<form class="new-comment">
    <div>
        <label for="comment-body">Comment:</label>
        <input type="text" id="comment-body" />
    </div>
    <div>
        <button type="submit">Posts</button>
    </div>
</form>
<script src="/javascript/comments.js"></script>