<div class="row justify-content-center">
    <div class="post col-8 mt-3 text-center">
        <span class="display-4">{{ post.title }}</span>
    </div>
</div>
<div class="row justify-content-center">
    <div class="post col-8 mt-3">
        <p class="mt-3">{{ post.description }}</p>
    </div>
</div>

{{> comments post.comments }}